@{
                /**/

                Layout = null;
}
@using ServiceWebApp.Controllers;
<!DOCTYPE html>
@model ServiceWebApp.Models.Model
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Image Web</title>
</head>
<body>
    <div id="ImageWeb" class="tabcontent">
        <h3>Image Web</h3>
        <p>Home is where the heart is..</p>
    </div>

    <div id="Configuration" class="tabcontent">
        <h3>Configuration</h3>
        @{
            var outputDir = (string)ViewData["outputDir"];
        }
        <p>@outputDir</p>
        @{
            var source = (string)ViewData["source"];
        }
        <p>@source</p>
        @{
            var logName = (string)ViewData["logName"];
        }
        <p>@logName</p>
        @{
            var ThumbName = (string)ViewData["ThumbName"];
        }
        <p>@ThumbName</p>
        @{
            var ListPaths = (List<string>)ViewData["ListPaths"];
        }
        <p>List of Handlers:</p>
        @foreach (var x in ListPaths)
        {<li><button title="@x" class="handler">@x</button></li>}
    </div>

    <div id="Logs" class="tabcontent">
        <h3>Logs</h3>
        @{
            var ListLogs = (List<CommandInfo>)ViewData["ListLogs"];
        }
        <p>List of Logs:</p>
        @foreach (var x in ListLogs)
        {<li>@x.ID    @x.Details</li>}
    </div>

    <div id="Images" class="tabcontent">
        <h3>Images</h3>
        <p>Get in touch, or swing by for a cup of coffee.</p>
    </div>

    <button class="tablink" onclick="openPage('ImageWeb', this,  '#29b0e4')" id="defaultOpen">ImageWeb</button>
    <button class="tablink" onclick="openPage('Configuration', this, '#0579b5')">Configuration</button>
    <button class="tablink" onclick="openPage('Logs', this, '#0f7ef7')">Logs</button>
    <button class="tablink" onclick="openPage('Images', this, '#26adad')">Images</button>

    <style>
        /* Set height of body and the document to 100% to enable "full page tabs" */
        body, html {
            margin: 0;
            font-family: Arial;
            background-color: #85d7e9;
            height: 80%;
            top: 0;
        }
        .handler {
            background-color: #81c6fa;
            color: black;
            border-color: #81c6fa;
            font-size: 15px;
            font-family: 'Times New Roman', Times, serif;
            width: 15%;
            height: 25%;
        }

        /* Style tab links */
        .tablink {
            background-color: #062e6c;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
            font: bold;
            font-family: Calibri
        }

            .tablink:hover {
                background-color: #245796;
            }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: white;
            display: none;
            padding: 100px 20px;
            height: 80%;
            top: 0;
        }

        #ImageWeb {
            background-color: #29b0e4;
        }

        #Configuration {
            background-color: #0579b5;
        }

        #Logs {
            background-color: #0f7ef7;
        }

        #Images {
            background-color: #26adad;
        }
    </style>
    <script>
        function openPage(pageName, elmnt, color) {
            // Hide all elements with class="tabcontent" by default */
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Remove the background color of all tablinks/buttons
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }

            // Show the specific tab content
            document.getElementById(pageName).style.display = "block";

            // Add the specific color to the button used to open the tab content
            elmnt.style.backgroundColor = color;

        }
        document.getElementById("defaultOpen").click();

                // Get the element with id="defaultOpen" and click on it

    </script>
</body>
</html>
